// body {
//   background: linear-gradient(135deg, #1a1a1d, #3e3e3e);
//   height: 100vh;
//   margin: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }


body {
  background-image: url('https://www.transparenttextures.com/patterns/paper.png');
  background-repeat: repeat;
}



// https://img.freepik.com/fotos-premium/papel-velho-fundo-largo_92810-117.jpg?w=1060
// https://i.pinimg.com/originals/4b/78/3d/4b783db97e7ae626a4ffc00677a3ffcb.jpg
