.all {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
}

.upper-container {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 70vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.left-upper-container {
  border: 0.05rem solid #ced4da;
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  background-color: #fff;
}

.book-cover {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
}

.book-cover img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.extra-content {
  flex: 1;
  text-align: center;
  padding-top: 0.5rem;
}

.extra-content button,
.extra-content .btn {
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.extra-content .btn {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.extra-content .btn:hover {
  background-color: #4caf50; /* Change color on hover */
  color: white;
}

.book-details {
  border: 0.05rem solid #ced4da;
  border-radius: 8px;
  flex: 2;
  padding: 1.5rem;
  margin-left: 2rem;
  background-color: #fff;
  text-align: center;
}

.book-details h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6a9c89;
}

.book-details p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.right-container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1;
  align-self: flex-start;
}

.right-container strong {
  font-size: 1.4rem;
  color: #343a40;
}

.related-books ul {
  padding: 0;
  list-style: none;
}

.list-group-item {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f1f3f5;
}

.related-book-item {
  display: flex;
  align-items: center;
}

.related-book-cover img {
  width: 50px;
  height: 75px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.related-book-details {
  margin-left: 1rem;
}

.related-book-details a {
  font-weight: bold;
  color: #6a9c89;
  text-decoration: none;
  transition: color 0.3s ease;
}

.related-book-details a:hover {
  color: #3e6757;
}

.related-book-details p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: #6c757d;
}

.related-book-details ul {
  margin: 0.5rem 0 0;
  padding: 0;
  list-style: none;
}

.related-book-details ul li {
  font-size: 0.8rem;
  color: #6c757d;
}

/* Buttons */
button.btn-secondary {
  background-color: #6c757d;
  color: white;
}

button.btn-secondary:hover {
  background-color: #5a6268;
}

button.btn-dark {
  background-color: #343a40;
  color: white;
}

button.btn-dark:hover {
  background-color: #23272b;
}

/* Map related elements */

.map-container {
  pointer-events: none;
  opacity: 0;
  width: 80%;
  height: 860px;
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 1rem;
}

.custom-marker {
  font-size: 30px;
  color: rgb(200, 87, 87);
}

/* review related elements */
.reviews {
  /* max-width: 600px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.review-item {
  width: 50%;
  max-width: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 0.05rem solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.review-item p {
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}

.review-item h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6a9c89;
}

.reviews .review-item + .review-item {
  margin-top: 1rem;
}

.button-review-toggle {
  background-color: #389568;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button-review-toggle:hover {
  background-color: #4caf50;
  opacity: 0.8;
}

.submit-form {
  color: white;
  background-color: #296a98;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.submit-form:hover {
  background-color: #3581b8;
  opacity: 0.8;
}
