.all {
  display: flex;
  align-items: flex-start;
}

.upper-container {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 70vw;
  height: 30vh;
  display: flex;
  overflow: hidden;
}

.left-upper-container {
  border: 0.05rem solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-cover {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.extra-content {
  flex: 1;
  text-align: center;
  padding-top: 0.5rem;
}

.book-details {
  border: 0.05rem solid black;
  flex: 2;
  padding-left: 1rem;
  overflow: hidden;
}

.map-container {
  /* display: none; */
  opacity: 0;
  width: 70vw;
  border: 0.05rem solid black;
  margin-top: 5rem;
  margin-left: 2rem;
}

.right-container {
  width: 15vw;
  height: 80vh;
  border: 0.05rem solid black;
  margin-top: 0.5rem;
  margin-left: 8rem;
}

.readers-liked {
  text-decoration: none;
  color: inherit;
}

.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}
