.all {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
}

.upper-container {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 70vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.left-upper-container {
  border: 0.05rem solid #ced4da;
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  background-color: #fff;
}

.book-cover {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
}

.book-cover img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.extra-content {
  flex: 1;
  text-align: center;
  padding-top: 0.5rem;
}

.book-details {
  border: 0.05rem solid #ced4da;
  border-radius: 8px;
  flex: 2;
  padding: 1.5rem;
  margin-left: 2rem;
  background-color: #fff;
  text-align: center;
}

.book-details h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #295F98;
}

.book-details p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.right-container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1;
  align-self: flex-start;
}

.right-container strong {
  font-size: 1.4rem;
  color: #343a40;
}

.related-books ul {
  padding: 0;
  list-style: none;
}

.list-group-item {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f1f3f5;
}

.related-book-item {
  display: flex;
  align-items: center;
}

.related-book-cover img {
  width: 50px;
  height: 75px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.related-book-details {
  margin-left: 1rem;
}

.related-book-details a {
  font-weight: bold;
  color: #295F98;
  text-decoration: none;
  transition: color 0.3s ease;
}

.related-book-details a:hover {
  color: #295F98;
}

.related-book-details p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: #6c757d;
}

.related-book-details ul {
  margin: 0.5rem 0 0;
  padding: 0;
  list-style: none;
}

.related-book-details ul li {
  font-size: 0.8rem;
  color: #6c757d;
}

/* -------------- Buttons -------------- */
.extra-content .btn,
button.btn-secondary,
button.btn-dark {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  display: inline-block;
  flex: 1;
  max-width: 150px;
  transition: background-color 0.3s ease;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

button.btn-secondary {
  background-color: #1E3A68;

  &:hover {
    background-color: #163259;
  }
}

button.btn-dark {
  background-color: #295F98;

  &:hover {
    background-color: #1F4A7B;
  }
}

button.btn-light {
  background-color: #6A9DD4;

  &:hover {
    background-color: #5A8CC0;
  }
}

.extra-content .btn[data-turbo-method="post"] {
  background-color: #295F98;
}

.extra-content .btn[data-turbo-method="delete"] {
  background-color: #1E3A68;
}

.extra-content .btn:hover,
button.btn-secondary:hover,
button.btn-dark:hover,
button.btn-light:hover {
  background-color: #4F6B99;
  color: white;
}

/* -------------- Map related elements -------------- */


.map-container {
  position: relative;
  pointer-events: none;
  opacity: 0;
  width: 80%;
  height: 860px;
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 1rem;
}

.custom-marker {
  font-size: 30px;
  color: rgb(24, 110, 105);
  background-color: white; /* Background for contrast */
  border: 2px solid rgba(24, 110, 105, 0.8); /* Add a border for better visibility */
  border-radius: 50%; /* Makes it a circular marker */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Add shadow for depth */
}

.custom-marker:hover {
  transform: scale(1.1); /* Slight enlargement on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}

.mapboxgl-popup-content {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #495057;
  max-width: 300px;
  text-align: left;
}

.mapboxgl-popup-content h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #6a9c89;
  margin-bottom: 0.5rem;
}

.mapboxgl-popup-content p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.mapboxgl-popup-content a {
  color: #6a9c89;
  text-decoration: none;
  font-weight: bold;
}

.mapboxgl-popup-content a:hover {
  color: #3e6757;
  text-decoration: underline;
}

.mapboxgl-popup-tip {
  background-color: white;
}

/* style the focus buttio */
.focus-button-container {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus-button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.focus-button:hover {
  background-color: #a34242;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.focus-button:active {
  background-color: #0056b3;
  transform: translateY(1px);
}

/* -------------- review related elements -------------- */
.reviews {
  /* max-width: 600px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.review-item {
  width: 50%;
  max-width: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 0.05rem solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.review-item p {
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}

.review-item h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6a9c89;
}

.reviews .review-item + .review-item {
  margin-top: 1rem;
}

