// Import page-specific CSS files here.
@import "home";
@import "font";



.fa-bookmark {
  font-size: 20px;
}

.button-group {
  position: absolute;
  top: 10px;
  right: 15px;
}
@import "books_show";
