<% if notice %>
    <div class="alert alert-info alert-dismissible fade show m-1 alert-center hideMe" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" >
       <span class="close">&times;</span>
      </button>
    </div>
<% end %>
<% if flash[:book] %>
    <div class="alert alert-info alert-dismissible fade show m-1 alert-center hideMe" id="alert-book" role="alert">
      <%= flash[:book] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" >
       <span class="close">&times;</span>
      </button>
    </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1 alert-center" role="alert" id="alert-message">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
