.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: #556B2F; /* Navbar background color */
  border-bottom: 2px solid #888; /* Thin line divider with a color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  padding-bottom: 8px !important;
}

  .navbar-brand {
    display: flex;
    align-items: center;
    width: 180px;

.navbar-lewagon .navbar-brand img {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

    .navbar-logo {
      width: 40px;
      margin-right: 10px;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }


.nav-links {
  font-weight: 800;
  text-decoration: none;
  align-items: center;
  border-bottom-width: 1px;
  color: #f1ecd8;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  font-size: 1rem !important;
}
.nav-links:hover {
  color: rgb(162, 163, 163);
  transform: scale(1.2);
}

  .nav-item .nav-link {
    font-weight: 600;
    color: #343a40;
    padding: 0.5em 1em;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: #0a8888;
      transform: scale(1.1);
    }
  }

  .nav-search {
    flex-basis: 400px;
    max-width: 100%;
    background-color: #eaf7f4;
    border-radius: 25px;
    padding: 6px 9px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

    .search-input {
      width: 100%;
      padding: 6px 40px 6px 20px;
      border: none;
      border-radius: 25px;
      background-color: #eaf7f4;
      font-size: 14px;
      color: #0b0b0b;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(9, 41, 158, 0.5);
      }
    }

    #search-button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;

      i {
        font-size: 18px;
        color: #888;

        &:hover {
          color: #343a40;
        }
      }
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  .dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
}

.search-input {
  overflow: visible !important;
  padding: 3px;
  width: 100%; /* Add space for the icon */
  // border: 1px solid #ccc;
  border-radius: 115px;
  border: none;
  background-color: #f1ecd8;

.navbar-toggler {
  border: none;
  outline: none;
}

.search-input:focus {
  outline: none;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
